{% extends "layout_bk.html" %}
{% block body %}
{% block content %}
  <div class="container" align="center">
    <div class="col-12-xs">
<br>
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
       <center> <h3><font size="5" color="black">Welcome to File Drive-Production Environment!</font></h3></center>
	<br>
         <button type="button" class="btn btn-primary" aria-label="Left Align"> <a href="{{ url_for('login_page') }}"><font size="3" color="white">Log in</a></font></button>
<br>
<br>
<p> New User? Please Register! </p>

<button type="button" class="btn btn-primary" aria-label="Left Align"> <a href="{{ url_for('register_page') }}"><font size="3" color="white"> Register</a></font></button>
    </div>
<body style = "background: url(https://s3-us-west-2.amazonaws.com/myproject-amrutha/configurations/index_background.png); background-size: 100%;"> 
</body>
  </div>
<br>
<br>
<li><center><button type="button" class="btn btn-primary" aria-label="Left Align"><a href="/privacy"><font size="1" color="white">Privacy</a></font></li></center>
{% endblock %}
{% endblock %}
