{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block head %}
  {{super()}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block title %}File Drive{% endblock %}

{% block navbar %}
<div class="container">
  <div class="navbar">
    <ul class="nav pull-right">
      <li><button type="button" class="btn btn-primary" aria-label="Right Align"><a href="{{ url_for('logout') }}"><font size="3" color="white">Logout</font></a>
</font>
</button></li>
    </ul>
  </div>
</div>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="container">{% block content %}{% endblock %}</div>
