{% extends "layout_bk.html" %}
{% block title %}File Drive{% endblock %}

{% block content %}
  <div class="container" align="right">
    <div class="col-12-xs">
      <h3>Bucket List</h3>

        <tr>
          
          <th>Thank you for using File Drive!</th>
          
        </tr>

                <ul class ="nav pull-right">
                    <button type="button" class="btn btn-primary" aria-label="Right Align"><a href="/logout">Logout <span class="sr-only">(current)</span></a>
</button>
                </ul>  
      </table>
    </div>
  </div>
{% endblock %}
